* {
	font-family: monospace;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-flow: column nowrap;
}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
	padding: 0;
	flex: 0 1 auto;
}

button {
	width: fit-content;
	width: -moz-fit-content;
	width: -webkit-fit-content;
}

textarea {
	flex: 1 0 auto;
	width: 100%;
	border: none;
	background: #EEE;
	margin: 0 auto;
	padding: 0;
}

textarea:disabled {
	background: #F8F8F8
}

label, select {
	display: inline-block;
}